
/*product page*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}
.wrapperForm {
  padding: 20px;
  background-color: #f5f5f5;

  margin: auto;
  width: 50%;
}
.wrapperForm h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: "#343a40";
}
/*form*/
.boxInput {
  width: 80%;
  height: 70vh;
}
.imputForm {
  margin: auto;
  width: 90%;

  padding: 10px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
label {
  margin-top: 8px;
}

input {
  padding: 8px;
  margin-top: 5px;
  width: 90%;
}
.img_container:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.img_contain:hover {
  transform: scale(1.07);
  cursor: pointer;
}

/*footer*/
