/*product page*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}
.wrapperForm {
  padding: 20px;
  background-color: #f5f5f5;

  margin: auto;
  width: 50%;
}

.wrapperForm h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: "#343a40";
}

/*form*/
.boxInput {
  width: 80%;
  height: 70vh;
}
.imputForm {
  margin: auto;
  width: 90%;

  padding: 10px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
label {
  margin-top: 8px;
}

input {
  padding: 8px;
  margin-top: 5px;
  width: 90%;
}
.img_container:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.img_contain:hover {
  transform: scale(1.07);
  cursor: pointer;
}

/*header*/
.header {
  background-image: linear-gradient(
      hsla(0, 83%, 84%, 0.767),
      rgba(65, 61, 61, 0.014)
    ),
    url("https://cdn.pixabay.com/photo/2017/08/06/17/58/people-2594683_960_720.jpg");

  height: 800px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navStyle {
  margin-bottom: -50px;
  z-index: 10;
}

.cart_box {
  padding: 10px;
  margin: 0 0 2em;
  background-color: #f7f6f7;
  border-top: 3px solid #e76f51;
  color: #515151;
}
.btn {
  color: black;
  background-color: #d3d3d3;
}

.nav-item {
  font-weight: 400;
  line-height: normal;
  font-size: 100%;
  vertical-align: baseline;
}

/*cart*/

.cart_total {
  float: right;
  margin-top: 40px;
  width: 40%;
}

.cartHedaing {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
}

/*table*/
body,
td,
tfoot,
th,
thead,
tr {
  /* border-color: inherit; */
  /* border-style: solid; */
  border-width: 0;
}

.widthbutton {
  width: 100%;
  background-color: #e76f51;
  color: white;

  text-align: center;
  margin-bottom: 1em;
  font-size: 1.25em;
  padding: 0.67em;
  line-height: 1;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 500;
}
.table > :not(caption) > * > * {
  /* padding: .5rem .5rem; */
}
p {
  margin-top: 0;
  /* margin-bottom: 1rem; */
}
